@import 'palette';
// Color Palette
// $color1;
// $color2;
// $color3;
// $color4;
// $color5;


header {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: .2em;
  color: $color5;
  background-color: $color4;
  border-bottom: 10px solid #ff5714;
}

header a, header a:visited{
  color: $color3;
}

header a:hover {
  color: $color2;
}

header img {
  height: 2em;
}

.header-left {
  font-size: 1.8em;
  text-align: left;
  width: 32%;
  padding-left: 1%;
}

.header-middle {
  font-size: 1.8em;
  color: $color3;
  text-align: center;
  width: 32%;
}

.header-right {
  width: 32%;
  font-size: 1.5em;
  text-align: right;
  padding-right: 1%;
}



// hr.style1 {
// 	border-top: 1px solid #8c8b8b;
//   margin-left: 0%;
//   margin-right: 2%;
// }
//
