@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans+Condensed:300|Tillana');

/* font-family: 'Bungee Inline', cursive;
   font-family: 'Open Sans Condensed', sans-serif;
   font-family: 'Tillana', cursive; */

body {
  margin: 0;
  padding: 0;
  font-family: 'Bungee Inline', cursive;
}
